*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}
body{
    color: var(--dark);
    background-color: #CFCDC9;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5em #ccc;
    width: 100%;
    background: #33192C;
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    font-size: 1.7rem;
    font-weight: 600;
    color:#62535D;
}
.logo span{
    color: #A69CA3;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    font-size: 17px;
    font-weight: 500;
    color: #DAD8DA;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #0C0C0D;
}
.navigation i{
    color:#DAD8DA;
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #62535D;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size:1.5rem;
    color: #62535D;
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--dark);
    line-height: 4rem;
    margin-bottom: 1rem;
}
.home-text p{
    margin-bottom:4rem;
}
.home-btn{
    padding: 15px 45px;
    background: #33192C;
    color: var(--white);
    border-radius: 10px;
    font-weight:700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: var(--dark);
    color: #DBDED6;
}
.home-img img{
    width: 100%;
}
@media(max-width:785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(8px);
    }
    .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-8px);
    }
    .nav-menu{
        position: fixed;
        top: 70px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: #3E1B33;
        flex-direction: column;
        transition: all 0.5s;
        gap:-10px;
    }
    .nav-menu.active{
        right:0;
    }
    .nav-item{
        margin: 16px 0;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}